$rhap_theme-color: #ff5757; 
$rhap_background-color: #333; 
$rhap_bar-color: #ff5757; 
$rhap_time-color: #ff5757; 


.rhap_play-status--paused .rhap_progress-bar {
    background-color: #ff5757; 
  }

  .rhap_play-status--playing{
    background-color: #ff5757; 
  }