{% extends 'base.html' %}

{% block content %}
<h1>Albums</h1>
<ul>
    {% for album in albums %}
        <li>
            <h2>{{ album.name }} by {{ album.artist.name }}</h2>
            <img src="{{ album.coverimagelink }}" alt="Album cover" />
            <ul>
                {% for song in album.songs %}
                    <li>
                        {{ song.title }}
                        <audio controls>
                            <source src="{{ song.audiolink }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
