<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ playlist.name }} - Details</title>
</head>
<body>
    <h1>{{ playlist.name }}</h1>
    <p>Created on: {{ playlist.creationdate }}</p>
    <p>Created by: {{ playlist.username }}</p>
    <h2>Songs</h2>
    <ul>
        {% for song in playlist.songs %}
            <li>
                <p>{{ song.title }}</p>
                <p>Artist: {{ song.artist.name }}</p>
                <audio id="audio-{{ song.songID }}" src="{{ song.audiolink }}" type="audio/mpeg"></audio>
               <button onclick="playSong({{ song.songID }})">Play</button>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('manage_playlists') }}">Back to Playlists</a>
</body>
</html>

<script>
    function playSong(songID) {
        var audio = document.getElementById('audio-' + songID);
        audio.play();
    }
</script>
